<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CompilerServices.AsyncTargetingPack" version="1.0.1" targetFramework="net40" />
  <package id="mongocsharpdriver" version="1.8.2" targetFramework="net40" />
  <package id="NEventStore" version="4.1.0.8" targetFramework="net40" />
  <package id="NEventStore.Persistence.MongoPersistence" version="4.1.0.8" targetFramework="net40" />
  <package id="NEventStore.Persistence.RavenPersistence" version="4.1.0.8" targetFramework="net40" />
  <package id="NEventStore.Serialization.Json" version="4.1.0.8" targetFramework="net40" />
  <package id="RavenDB.Client" version="2.5.2700" targetFramework="net40" />
</packages>